@charset "UTF-8";

html, body {
	height: 100%;
	margin: 0;
}

header {
	height: 8vh;
}

section {
	min-height: 80vh;
}

.userInputDiv {
	width: 280px;
}

.userInputDiv > #signUpLink {
	font-size: 12px;
}

.userInputDiv > #signUpBelow {
	font-size: 12px;
}

.postDiv {
	width: 620px;
}

#subjectTitle {
	width: 110px;
}

footer {
	position: sticky;
	top: 100vh;
}